<?php
/**
 * @file
 * Theme implementation to display the reCAPTCHA custom widget.
 *
 * Available variables:
 * - recaptcha_only_if_incorrect_sol
 * - recaptcha_only_if_image_enter
 * - recaptcha_only_if_audio_enter
 * - recaptcha_get_another_captcha
 * - recaptcha_only_if_image
 * - recaptcha_only_if_audio
 * - help
 */

?>
<div id="recaptcha_image"></div>
<div class="recaptcha_only_if_incorrect_sol" style="color:red">
  {{ recaptcha_only_if_incorrect_sol }}
</div>
<span class="recaptcha_only_if_image">
  {{ recaptcha_only_if_image_enter }}
</span>
<span class="recaptcha_only_if_audio">
  {{ recaptcha_only_if_audio_enter }}
</span>
<input type="text" id="recaptcha_response_field" name="recaptcha_response_field" />
<div class="recaptcha_get_another_captcha">
  <a href="javascript:Recaptcha.reload()">
    {{ recaptcha_get_another_captcha }}
  </a>
</div>
<div class="recaptcha_only_if_image">
  <a href="javascript:Recaptcha.switch_type('audio')">
    {{ recaptcha_only_if_image }}
  </a>
</div>
<div class="recaptcha_only_if_audio">
  <a href="javascript:Recaptcha.switch_type('image')">
    {{ recaptcha_only_if_audio }}
  </a>
</div>
<div class="recaptcha_help">
  <a href="javascript:Recaptcha.showhelp()">
    {{ help }}
  </a>
</div>
